@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(90deg, pink 80%, #F5F1E3, #FFFFFF);
}
main {
    background-color: #F5F1E3;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(150, 113, 119);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #E3170A;
    text-align: center;
    text-shadow: 1px 1px 2px #310502;
}
h2 {
    color: #64113F;
}
p {
    text-align: justify;
}